services:
  - type: web
    name: wikiculture-rabbitmq
    runtime: image
    image:
      url: docker.io/library/rabbitmq:3.10-management-alpine
    plan: free
    envVars:
      - key: RABBITMQ_DEFAULT_PASS
        value: guest
      - key: RABBITMQ_DEFAULT_USER
        value: guest
    region: oregon
  - type: web
    name: user_service
    runtime: image
    image:
      url: ghcr.io/tomdieu/wikiculture/user_service:latest
    plan: free
    envVars:
      - key: RABBITMQ_HOST
        value: https://wikiculture-rabbitmq.onrender.com
      - key: RABBITMQ_PORT
        value: 5672
      - key: RABBITMQ_USERNAME
        value: guest
      - key: RABBITMQ_PASSWORD
        value: guest
    dockerCommand: ./startup.sh
version: "1"
