version: '3.8'

services:
  articles_service:
    image: article
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    command: ["python", "manage.py", "runserver", "8001"]
    container_name: articles_service
    restart: unless-stopped
    networks:
      - common_network
    volumes:
      - .:/articles

  consumer:
    image: article
    build:
      context: .
      dockerfile: Dockerfile
    command: ["python","consumer.py"]
    restart: unless-stopped
    depends_on:
      - articles_service
    networks:
      - common_network
    volumes:
      - .:/articles

networks: 
  common_network:
    driver: bridge